.card-list {
	list-style: none;
	margin: 0.5rem auto;
	padding: 0;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	max-width: 60rem;
}

.banner {
	width: 100%;
	display: flex;
	justify-content: center;
	margin: 0.5rem;
}

.banner h2 {
	text-align: center;
}

@media (min-width: 800px) {
	.card-list {
		margin: 0.5rem 20%;
	}
}
